#Blog_List_Background{
    width: 100%;
    display: flex;
    justify-content: center;
}

#Blog_List_Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    background: white;
    margin-top: 25px;
    margin-bottom: 25px;
}

#Blog_List_Title_Container{
    text-align: center;
}

#Blogs{
    width: 100%;
    display: flex;
}
#First_Blog{
    width: 55%;
    margin-right: 30px;
}

#Blogs_List{
    width: 40%;
}

@media only screen and (max-width: 700px){
    #Blogs{
        flex-direction: column;
    }
    #First_Blog{
        width: 100%;
        margin-right: 30px;
    }
    #Blogs_List{
        width: 100%;
    }
}