#Container{
    background: #000033 !important;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 70px;
}

#Title{
    color:white;
    font-size: 30px;
    text-decoration: none;
}

#Menu{
    display: flex;
    align-items: center;
}

#Menu_Items{
    width: 100%;
    text-align: end;
}

.Menu_Option_Title{
    text-decoration: none;
    color: white;
    font-weight: normal;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: normal;
}

.Menu_Option_Title:hover{
    text-decoration: none;
    color: whitesmoke;
}

.Menu_Option_Icon{
    margin-right: 20px;
    display: none;
}


.navbar-light .navbar-toggler{
    background: white !important;
}

@media only screen and (max-width: 990px){
    .Menu_Option_Icon{
        display: inherit;
    }
  
}

@media only screen and (max-width: 480px){
    #Title{
        font-size: 20px;
    }
}

@media only screen and (max-width: 320px){
    #Title{
        font-size: 15px;
    }
}